# Installation Environment
APP_HOST_URL=

# Add login credentials 
CONTENTSTACK_LOGIN=
CONTENTSTACK_PASSWORD=

# basic auth credentials
BASIC_AUTH_USERNAME =
BASIC_AUTH_PASSWORD =

# Organization ID
CONTENTSTACK_ORGANIZATION_UID=

# Add test stack api key
STACK_API_KEY=

# Add the app baseurl for the app you want to test based on specific environment
################### To run it locally, add # to the APP_BASE_URL in 'pre-installation-setup.ts' file at line 288 as below.
# base_url: `${process.env.APP_BASE_URL}/#`,
APP_BASE_URL =

# Based on the env make sure to add proper credentials for the below variables
DEVELOPER_HUB_API=
BASE_API_URL=

# Tracker js configuration
REACT_APP_TRACKER_TOKEN= # Enter your tracker token
REACT_APP_TRACKER_ENV= # Enter your tracker environment

SKIP_PREFLIGHT_CHECK=true

