# Installation Environment
APP_HOST_URL=

# Add login credentials 
CONTENTSTACK_LOGIN=
CONTENTSTACK_PASSWORD=

# basic auth credentials
BASIC_AUTH_USERNAME =
BASIC_AUTH_PASSWORD =

# Organization ID
CONTENTSTACK_ORGANIZATION_UID=

# Add test stack api key
STACK_API_KEY=

# Add the app baseurl for the app you want to test based on specific environment
APP_BASE_URL =

# Based on the env make sure to add proper credentials for the below variables
DEVELOPER_HUB_API=
BASE_API_URL=

# Tracker js configuration
REACT_APP_TRACKER_TOKEN= # Enter your tracker token
REACT_APP_TRACKER_ENV= # Enter your tracker environment

#Mixpanel configuration
REACT_APP_MIXPANEL_TOKEN= # Enter your mixpanel token

SKIP_PREFLIGHT_CHECK=true

#dataDog RUM Tokens
REACT_APP_DATADOG_RUM_APPLICATION_ID = # DATADOG RUM APP ID
REACT_APP_DATADOG_RUM_CLIENT_TOKEN = # DATADOG RUM CLIENT ID
REACT_APP_DATADOG_RUM_SITE = #Enter your Datadog RUM Site.
REACT_APP_DATADOG_RUM_SERVICE = 'Table app'
