.dialog-body {
    height: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 185%;
    color: #222222;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 20px;
}

.dialog-radio {
    width: 86px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 185%;
    color: #222222;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.radio-block {
    padding-top: 20px;
}

.Button--outline {
    margin-right: 1.25rem;
}