.app {
  .field-extension {
    width: 100%;
    .field-extension-wrapper {
      padding: 14px;
      .Form__item {
        width: 500px;
      }

      .asset-box {
        border: 1px solid #a9b6cb;
        box-sizing: border-box;
        border-radius: 10px;
        padding-bottom: 5px;

        .box-header {
          padding: 17px 15px;

          span {
            font-size: 12px;
            font-weight: bold;
            font-family: 'Inter';
            letter-spacing: 0.01em;
            color: #475161;
            margin-right: 13px;
            vertical-align: middle;
          }

          svg {
            cursor: pointer;
            margin-right: 5px;
            vertical-align: middle;
          }
        }

        .render-items {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
          max-height: 300px;
          overflow-y: scroll;
          border-top: 1px solid #edf1f7;
          padding: 10px;

          .asset-card-loading {
            background: #f7f9fc;
            border: 0.0625rem solid #edf1f7;
            border-radius: 8px;
            height: 180px;
            height: 11.25rem;
            margin-bottom: 1.25rem;
            margin-right: 1.25rem;
            overflow: hidden;
            position: relative;
            width: 10.535rem;

            .asset-card-loading-info {
              padding: 5px 10px;
            }
          }

          .AssetCard {
            font-family: 'Inter';
            width: 10.535rem;

            &:hover {
              .AssetCard__shortinfo__name {
                color: #475161;
                font-weight: bold;
                font-size: 13px;
              }
            }

            .AssetCard__shortinfo__name {
              color: #222222;
              font-size: 13px;
              text-transform: uppercase;
            }

            .AssetCard__shortinfo__smalldetails {
              color: #647696;
            }

            .AssetCard__action__delete {
              &:hover {
                background: #ffeeeb;

                svg path {
                  fill: #d62400;
                  stroke: #d62400;
                }
              }
            }

            .AssetCard__action__custom {
              &:hover {
                svg path {
                  fill: #222222;
                  stroke: #222222;
                }
              }

              svg {
                width: 13px;
                height: 12px;
              }
            }
          }
        }
      }

      .no-asset {
        color: #647696;
        font-family: Inter;
        font-size: 14px;
      }

      .add-product-btn {
        margin: 30px 0;
      }
    }
  }
}

.Component-horizontalScrollContainer-5 {
  border-radius: 10px;
}

.MuiTableSortLabel-root {
  display: block !important;
  .MuiTableSortLabel-icon {
    // opacity: 1 !important;
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 10px;
    width: 10px;
  }
  &:hover {
    color: #222222 !important;

    // .MuiTableSortLabel-icon {
    //   opacity: 1 !important;
    // }
  }
}

.MuiTableCell-body {
  border: 1px solid #f5f5f5;
  font-family: 'Inter' !important;

  div {
    border-bottom: none !important;
    font-size: 14px;
  }
}
