.app {
  .field-extension {
    width: 100%;
    .field-extension-wrapper {
      padding: 14px;
      .Form__item {
        width: 500px;
      }

      .asset-box {
        border: 1px solid #a9b6cb;
        box-sizing: border-box;
        border-radius: 10px;
        padding-bottom: 5px;

        .box-header {
          padding: 17px 15px;

          span {
            font-size: 12px;
            font-weight: bold;
            font-family: 'Inter';
            letter-spacing: 0.01em;
            color: #475161;
            margin-right: 13px;
            vertical-align: middle;
          }

          svg {
            cursor: pointer;
            margin-right: 5px;
            vertical-align: middle;
          }
        }

        .render-items {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
          max-height: 300px;
          overflow-y: scroll;
          border-top: 1px solid #edf1f7;
          padding: 10px;

          .asset-card-loading {
            background: #f7f9fc;
            border: 0.0625rem solid #edf1f7;
            border-radius: 8px;
            height: 180px;
            height: 11.25rem;
            margin-bottom: 1.25rem;
            margin-right: 1.25rem;
            overflow: hidden;
            position: relative;
            width: 10.535rem;

            .asset-card-loading-info {
              padding: 5px 10px;
            }
          }

          .AssetCard {
            font-family: 'Inter';
            width: 10.535rem;

            &:hover {
              .AssetCard__shortinfo__name {
                color: #475161;
                font-weight: bold;
                font-size: 13px;
              }
            }

            .AssetCard__shortinfo__name {
              color: #222222;
              font-size: 13px;
              text-transform: uppercase;
            }

            .AssetCard__shortinfo__smalldetails {
              color: #647696;
            }

            .AssetCard__action__delete {
              &:hover {
                background: #ffeeeb;

                svg path {
                  fill: #d62400;
                  stroke: #d62400;
                }
              }
            }

            .AssetCard__action__custom {
              &:hover {
                svg path {
                  fill: #222222;
                  stroke: #222222;
                }
              }

              svg {
                width: 13px;
                height: 12px;
              }
            }
          }
        }
      }

      .no-asset {
        color: #647696;
        font-family: Inter;
        font-size: 14px;
      }

      .add-product-btn {
        margin: 30px 0;
      }
    }
  }
}

.Component-horizontalScrollContainer-5 {
  border-radius: 10px;
}

.MuiTableSortLabel-root {
  display: block !important;
  .MuiTableSortLabel-icon {
    // opacity: 1 !important;
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 10px;
    width: 10px;
  }
  &:hover {
    color: #222222 !important;

    // .MuiTableSortLabel-icon {
    //   opacity: 1 !important;
    // }
  }
}

.MuiTableCell-body {
  border: 1px solid #f5f5f5;
  font-family: 'Inter' !important;

  div {
    border-bottom: none !important;
    font-size: 14px;
  }
}

.table {
  border: 1px solid #f5f5f5;
  border-radius: 8px 8px 0px 0px;

  .tr {
    .td {
      border: 1px solid #f5f5f5;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

#root {
  margin: 0px;
  padding: 0px;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.svg-icon svg {
  position: relative;
  height: 1.5em;
  width: 1.5em;
}

.svg-text svg {
  stroke: #424242;
}

.svg-180 svg {
  transform: rotate(180deg);
}

.form-input {
  padding: 0.375rem;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  color: #424242;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #8ecae6;
}

.is-fullwidth {
  width: 100%;
}

.bg-white {
  background-color: white;
}

.data-input {
  white-space: pre-wrap;
  border: none;
  padding: 0.5rem;
  color: #424242;
  font-size: 1rem;
  border-radius: 4px;
  resize: none;
  background-color: white;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.data-input:focus {
  outline: none;
}

.shadow-5 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.12), 0 16px 32px rgba(0, 0, 0, 0.12);
}

.svg-icon-sm svg {
  position: relative;
  height: 1.25em;
  width: 1.25em;
}

.svg-gray svg {
  stroke: #9e9e9e;
}

.option-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.option-input:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
}

.sort-button {
  padding: 0.25rem 0.75rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 0.875rem;
  color: #757575;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
}

.sort-button:hover {
  background-color: #eeeeee;
}

.tr:last-child .td {
  border-bottom: 0;
}

.add-row {
  color: #9e9e9e;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  cursor: pointer;
}

.add-row:hover {
  background-color: #f5f5f5;
}

.th {
  color: #9e9e9e;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

.th:hover {
  background-color: #f5f5f5;
}

.th-content {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.td {
  overflow: hidden;
  color: #424242;
  align-items: stretch;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.td-content {
  display: block;
}

.table {
  border-spacing: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.th:last-child {
  border-right: 0;
}

.td:last-child {
  border-right: 0;
}

.resizer {
  display: inline-block;
  background: transparent;
  width: 8px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  cursor: col-resize;
  touch-action: none;
}

.resizer:hover {
  background-color: #8ecae6;
}

.th,
.td {
  white-space: nowrap;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  position: relative;
}

.text-align-right {
  text-align: right;
}

.cell-padding {
  padding: 0.5rem;
}

.d-flex {
  display: flex;
}

.cursor-default {
  cursor: default;
}

.align-items-center {
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.border-radius-md {
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-margin {
  margin-right: 4px;
}

.font-weight-600 {
  font-weight: 600;
}

.font-size-75 {
  font-size: 0.75rem;
}

.flex-1 {
  flex: 1;
}
